# fly.toml app configuration file generated for happy-woman-bot on 2025-12-03T14:32:16+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'happy-woman-bot'
primary_region = 'jnb'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'
  seed_command = 'ts-node prisma/seed.ts'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
